html, body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    height: 100%;   
}

:root {
    --primary-color:rgb(56, 9, 109);
    --secondary-color: rgb(232, 108, 236);
    --hover-color: rgba(175, 51, 224, 0.904);
    --answer-color: rgba(128, 128, 128, 0.644);

}

#quizPosition{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75%;
}

h1 {
    font-size: 2em;
    margin: 0.5em 0;
}

#score-time-wrapper {
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 40px 2px;
}

#HScore {
    color:var(--secondary-color);
    border: none;
    background: none;
    font-size: 100%;
    font-weight: bold;
}

#timer {
    font-weight: bold;
    font-size: 100%;
}

section {
    max-width: 50%;
    margin: 0 auto;
}


#intro {
    text-align: center;
    font-weight: bold;
}

#intro p {
    font-size: 100%;
}
button:hover {
    background-color: var(--hover-color);
}

button {
    background-color: var(--primary-color);
    color: white;
    padding: 7.5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 100%;
}

.hide {
    display: none;
}

#quizContent button:hover{
    background-color: var(--hover-color);
}

#quizContent p {
    font-size: 2.5em;
    font-weight: bold;
}

#quizContent button{
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    padding: 7.5px 15px;
    margin: 3px 0;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: left;
}

#finished #records {
    display: flex;
    align-items: center;
}

#finished #records input, #finished #records button {
    margin-left: 10px;
}

#finished p {
    font-weight: bold;
}

#highScores h1 {
    margin-left: 10px;
}

#highScores button {
    margin-left: 10px;
}

#scoreLabel, #errorLabel {
    border-top: 1px solid var(--answer-color);
    color: var(--answer-color);
    font-size: 1.3em;
    font-style: italic;
    font-weight: 600;
    margin: 15px auto;
}

#scoreLabel p, #errorLabel p {
    margin-top: 3px;
}

.hidden {
    visibility: hidden;
}

#highScores div div:nth-child(odd) {
    background-color: var(--answer-color);
}

#highScores div div {
    padding: 7.5px;
    font-weight: bold;
}

#highScores button {
    margin: 5px 2px;
}

@media only screens and (min-width: 768px) {
    #quizPosition {
        min-height: calc(100% - 82px)
    }

    #finished #records {
        display: flex;
        align-items: center;
    }

    #fnished #records input, #finished #records button{
        margin-left:10px;
    }

    #score-time-Wrapper {
        flex-direction: row;
    }

    #quizContent {
        min-width:420px;
    }
}