:root {
    --hue-neutral: 200;
 
}
body {
    --hue: var(--hue-neutral);
    width: 100vw;
    height: 100vh;
    background-color: hsl(var(--hue), 100%, 20%);
    
}
.starter {
    align-items: center;
}
.start-btn {
    left: 50%;
    position: absolute;
    
    /* margin: 0;
    align-self: center;
    color: tomato;
    background-color: white;
    justify-content: center;
    justify-self: center;
    align-items: center; */
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    align-items: center;
    margin: auto;
  
}

.questions {
    --hue: var(--hue-neutral);
    background-color: cornsilk;

}
.options:hover {
    background-color: rgb(220, 255, 228);
    color: crimson;
}
.score {
    color: var(--hue-neutral);
   
}

.timer {
    color: var(--hue-neutral);
}
.hide {
    display: none;
}

